# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build files
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Vite files
client/dist/

# Mongo memory files (optional safety)
*.db